* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cont {
    border: 2px solid blue;
    background-color: aqua;
    color: blue;
    float: left;
    height: 100%;
    position: absolute;
    bottom: 50px;
}

body {
    width: 100vw;
    height: 100vh;
}

#sidebar {
    width: 30%;
    top: 30px;
}

#content {
    left: 30%;
    width: 70%;
    top: 30px;
}

#header {
    width: 100vw;
    position: static;
}